
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m">
        <a href="rag-list-2" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-l">
        Entering England from an amber list country: what you need to do
        </h1>

        <p class="govuk-body-m">
          What you must do if you have been in an amber country or territory in the 10 days before you arrive in England.
          </p>


          <div class="highlight">
            <h2 class="govuk-heading-m">
          Changes to international travel rules for amber list countries</h2>

          <p class="govuk-body-m">
          From 4am, Monday 19 July, the government will no longer recommend against travel to amber list countries. People covered by the amber list rules, who have been <a href="https://www.gov.uk/guidance/demonstrating-your-covid-19-status">fully vaccinated with an NHS vaccine</a>, will not need to quarantine on arrival in England or take a COVID-19 test on day 8. For further information:
          </p>
          <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/government/news/quarantine-free-travel-to-resume-on-19-july-for-fully-vaccinated-passengers-returning-from-amber-list-countries">read the announcement about the rule changes</a></li>
        <li><a href="https://www.gov.uk/email-signup?topic=/coronavirus-taxon/entering-england">sign up for an email alert</a> to tell you when this page is updated</li>
        </ul>
        <p class="govuk-body-m">
          Until 19 July you must follow the following rules, even if you have been vaccinated.
          </p>
          </div>

          <h2 class="govuk-heading-s">
          Before travel to England
          </h2>
          <p class="govuk-body-m">
          Before you travel to England you must:
          </p>
          <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england">take a COVID-19 test</a></li>
          <li><a href="https://www.gov.uk/find-travel-test-provider">book and pay for day 2 and day 8 COVID-19 travel tests</a> – to be taken after arrival in England</li>
          <li><a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">complete a passenger locator form</a></li>
          </ul>

          <h2 class="govuk-heading-s">
          On arrival in England
          </h2>

          <p class="govuk-body-m">
          On arrival in England you must:
          </p>

          <ul class="govuk-list govuk-list--bullet">
          <li>quarantine at home or in the place you are staying for 10 days</li>
          <li>take a COVID-19 test on or before day 2 and on or after day 8</li>
          </ul>

            <p class="govuk-body-m">
          <a href="https://www.gov.uk/guidance/how-to-quarantine-when-you-arrive-in-england">Read about quarantine and taking COVID-19 tests</a>.
          </p>

          <p class="govuk-body-m">
          Children aged 4 and under do not need to take the day 2 or day 8 test.
          </p>

          <p class="govuk-body-m">
          You may be able to end quarantine early if you pay for a private COVID-19 test through the <a href="https://www.gov.uk/guidance/coronavirus-covid-19-test-to-release-for-international-travel">Test to Release scheme</a>.
          </p>

          <h2 class="govuk-heading-s">
          If you have been in a country or territory on the red list
          </h2>

          <p class="govuk-body-m">
          If you have also been in or through a country or territory on the red list in the 10 days before you arrive in England, you must follow the <a href="https://www.gov.uk/guidance/red-amber-and-green-list-rules-for-entering-england#red-list">red list rules</a>.
          </p>
          <p class="govuk-body-m">
          Read about <a href="https://www.gov.uk/guidance/red-amber-and-green-list-rules-for-entering-england#transit-stops-in-amber-or-red-list-countries">making a transit stop in a red list country or territory</a>.
          </p>

          <h2 class="govuk-heading-s">
          Countries moving to the red list
          </h2>
          <p class="govuk-body-m">
          If conditions change in a country or territory, it can be moved from the amber list to the red list. If there is a sudden change in conditions, a country or territory may be moved between lists without warning.
          </p>

<!--
<p>
Read about quarantine and taking COVID-19 tests.

Children aged 4 and under do not need to take the day 2 or day 8 test.

You may be able to end quarantine early if you pay for a private COVID-19 test through the Test to Release scheme.

If you have been in a country or territory on the red list
If you have also been in or through a country or territory on the red list in the 10 days before you arrive in England, you must follow the red list rules.

Read about making a transit stop in a red list country or territory.

Countries moving to the red list
If conditions change in a country or territory, it can be moved from the amber list to the red list. If there is a sudden change in conditions, a country or territory may be moved between lists without warning.

Amber list of countries and territories
You should not travel to amber list countries or territories.
</p>
-->
    </div>
  </div>

{% endblock %}
