
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m">
      <a href="az-list">Back</a></p>
      <h1 class="govuk-heading-xl">
        Amber-listed country rules
        </h1>

        <p class="govuk-body-m">
          What you must do if you have been in an amber country or territory in the 10 days before you arrive in England.</p>

          <p class="govuk-body-m">You must follow these rules even if you have been vaccinated.</p>

          <h2 class="govuk-heading-m">Before travel to England</h2>
          <p class="govuk-body-m">
            Before you travel to England you must:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>take a COVID-19 test</li>
                <li>book and pay for day 2 and day 8 COVID-19 travel tests – to be taken after arrival in England</li>
                <li>complete a passenger locator form</li>
                </ul>

                <h2 class="govuk-heading-m">On arrival to England</h2>
                <p class="govuk-body-m">On arrival in England you must:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>quarantine at home or in the place you are staying for 10 days</li>
                    <li>take a COVID-19 test on or before day 2 and on or after day 8  </li>
                    </ul>

<p>
Read about quarantine and taking COVID-19 tests.

Children aged 4 and under do not need to take the day 2 or day 8 test.

You may be able to end quarantine early if you pay for a private COVID-19 test through the Test to Release scheme.

If you have been in a country or territory on the red list
If you have also been in or through a country or territory on the red list in the 10 days before you arrive in England, you must follow the red list rules.

Read about making a transit stop in a red list country or territory.

Countries moving to the red list
If conditions change in a country or territory, it can be moved from the amber list to the red list. If there is a sudden change in conditions, a country or territory may be moved between lists without warning.

Amber list of countries and territories
You should not travel to amber list countries or territories.
</p>

    </div>
  </div>

{% endblock %}
