
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        RAG travel prototypes
        </h1>

        <h2 class="govuk-heading-m">AZ list</h2>
        <ul class="govuk-list">
          <li><a href="az-list">AZ-list: RAG countries guidance</a></li>
          <li><a href="amber">Sweden</a></li>
        </ul>

        <h2 class="govuk-heading-m">RAG category list</h2>
        <ul class="govuk-list">
        <li><a href="rag-list-2">AZ-list: RAG countries guidance</a></li>
        </ul>

    </div>
  </div>

{% endblock %}
