
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Red, amber and green list rules for entering England
        </h1>



        <p class="govuk-body-m">
          Countries and territories are listed as either red, amber or green. The rules for testing and quarantine when you return to England are different for each list.
          </p><p class="govuk-body-m">Find out which list a country is on and the rules you must follow to enter England.</p>

<!-- Checkboxes to filter the list

<div class="filter-countries">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="fitering-hint">
      <h3 class="govuk-heading-m">
        Country status:
      </h3>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-red" name="waste" type="checkbox" value="red">
        <label class="govuk-label govuk-checkboxes__label" for="rag-red">
          Red countries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-amber" name="waste" type="checkbox" value="amber">
        <label class="govuk-label govuk-checkboxes__label" for="rag-amber">
          Amber countries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-green" name="waste" type="checkbox" value="green">
        <label class="govuk-label govuk-checkboxes__label" for="rag-green">
          Green countries
        </label>
      </div>
    </div>

  </fieldset>
</div>
</div>
 -->


<div class="contents">
<p class="govuk-body-s">Contents</p>
 <ul class="govuk-list govuk-body-s">
   <li>&mdash; <a href="#redlist">Red list</a></li>
   <li>&mdash; <a href="#amberlist">Amber list</a></li>
   <li>&mdash; <a href="#greenlist">Green list</a></li>
   </ul>
   </div>


<!-- Search input that filters the country list -->

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="country-input">
              Enter a country name
            </label>
          </h1>
          <input class="govuk-input" id="country-input" name="event-name" type="text">
        </div>

        </div>

        <div class="govuk-width-container">
          <main class="govuk-main-wrapper">

      <!-- List of countries -->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full country-container">

          <div class="country-list-2">

          <h1 class="govuk-heading-l" id="redlist">Red</a></h1>

          <div class="red-category">
            <p class="govuk-body-m"><a href="#">View guidance for red countries</a></p>
          <ul class="govuk-body-m country-list">
          <li>Afghanistan </br><span class="govuk-body-s">Moved to the red list 4am Wednesday 30 June. If you arrived in England before then, you need to follow the amber list rules.</span>
          </li>
          <li>Angola</li>
          <li>Argentina</li>
          <li>Bahrain</li>
          <li>Bangladesh</li>
          <li>Bolivia</li>
          <li>Botswana</li>
          <li>Brazil</li>
          <li>Burundi</li>
          <li>Cape Verde</li>
          <li>Chile</li>
          <li>Colombia</li>
          <li>Congo (Democratic Republic)</li>
          <li>Costa Rica</li>
          <li>Dominican Republic</li>
          <li>Ecuador</li>
          <li>Egypt</li>
          <li>Eritrea</li>
          <li>Eswatini</li>
          <li>Ethiopia</li>
          <li>French Guiana</li>
          <li>Guyana</li>
          <li>Haiti</li>
          <li>India</li>
          <li>Kenya</li>
          <li>Lesotho</li>
          <li>Malawi</li>
          <li>Maldives</li>
          <li>Mongolia</li>
          <li>Mozambique</li>
          <li>Namibia</li>
          <li>Nepal</li>
          <li>Oman</li>
          <li>Pakistan</li>
          <li>Panama</li>
          <li>Paraguay</li>
          <li>Peru</li>
          <li>Philippines</li>
          <li>Qatar</li>
          <li>Rwanda</li>
          <li>Seychelles</li>
          <li>Somalia</li>
          <li>South Africa</li>
          <li>Sri Lanka</li>
          <li>Sudan</li>
          <li>Suriname</li>
          <li>Tanzania</li>
          <li>Trinidad and Tobago</li>
          <li>Tunisia</li>
          <li>Turkey</li>
          <li>Uganda</li>
          <li>United Arab Emirates (UAE)</li>
          <li>Uruguay</li>
          <li>Venezuela</li>
          <li>Zambia</li>
          <li>Zimbabwe</li>
          </ul>

          </div>


          <h1 class="govuk-heading-l" id="amberlist">Amber</a></h1>

          <div class="amber-category">
            <p class="govuk-body-m"><a href="amber">View guidance for amber countries</a></p>


          <ul class="govuk-body-m country-list">

            <li>Akrotiri and Dhekelia	 </li>
          <li>Albania	 </li>
          <li>Algeria	 </li>
          <li>Andorra	 </li>
          <li>Armenia	 </li>
          <li>Aruba	 </li>
          <li>Austria	 </li>
          <li>Azerbaijan	 </li>
          <li>The Bahamas	 </li>
          <li>Belarus	 </li>
          <li>Belgium	 </li>
          <li>Belize	 </li>
          <li>Benin	 </li>
          <li>Bhutan	 </li>
          <li>Bonaire, Sint Eustatius and Saba	 </li>
          <li>Bosnia and Herzegovina	 </li>
          <li>Bulgaria	 </li>
          <li>Burkina Faso	 </li>
          <li>Cambodia	 </li>
          <li>Cameroon	 </li>
          <li>Canada	 </li>
          <li>Central African Republic	 </li>
          <li>Chad	 </li>
          <li>China	 </li>
          <li>Comoros	 </li>
          <li>Congo	 </li>
          <li>Cook Islands, Tokelau and Niue	 </li>
          <li>Côte d’Ivoire	 </li>
          <li>Croatia	 </li>
          <li>Cuba	 </li>
          <li>Curaçao	 </li>
          <li>Cyprus	 </li>
          <li>Czech Republic (Czechia)	 </li>
          <li>Denmark	 </li>
          <li>Djibouti	 </li>
          <li>El Salvador	 </li>
          <li>Equatorial Guinea	 </li>
          <li>Estonia	 </li>
          <li>Fiji	 </li>
          <li>Finland	 </li>
          <li>France	 </li>
          <li>French Polynesia	 </li>
          <li>Gabon	 </li>
          <li>The Gambia	 </li>
          <li>Georgia	 </li>
          <li>Germany	 </li>
          <li>Ghana	 </li>
          <li>Greece (including islands)	 </li>
          <li>Greenland	 </li>
          <li>Guadeloupe	 </li>
          <li>Guatemala	 </li>
          <li>Guinea	 </li>
          <li>Guinea-Bissau	 </li>
          <li>Honduras	 </li>
          <li>Hong Kong	 </li>
          <li>Hungary	 </li>
          <li>Indonesia	 </li>
          <li>Iran	 </li>
          <li>Iraq	 </li>
          <li>Italy	 </li>
          <li>Jamaica	 </li>
          <li>Japan	 </li>
          <li>Jordan	 </li>
          <li>Kazakhstan	 </li>
          <li>Kiribati	 </li>
          <li>Kosovo	 </li>
          <li>Kuwait	 </li>
          <li>Kyrgyzstan	 </li>
          <li>Laos	 </li>
          <li>Latvia	 </li>
          <li>Lebanon	 </li>
          <li>Liberia	 </li>
          <li>Libya	 </li>
          <li>Liechtenstein	 </li>
          <li>Lithuania	 </li>
          <li>Luxembourg	 </li>
          <li>Macao	 </li>
          <li>Madagascar	 </li>
          <li>Malaysia	 </li>
          <li>Mali	 </li>
          <li>Marshall Islands	 </li>
          <li>Martinique	 </li>
          <li>Mauritania	 </li>
          <li>Mauritius	 </li>
          <li>Mayotte	 </li>
          <li>Mexico	 </li>
          <li>Micronesia	 </li>
          <li>Moldova	 </li>
          <li>Monaco	 </li>
          <li>Montenegro	 </li>
          <li>Morocco	 </li>
          <li>Myanmar (Burma)	 </li>
          <li>Nauru	 </li>
          <li>Netherlands	 </li>
          <li>New Caledonia	 </li>
          <li>Nicaragua	 </li>
          <li>Niger	 </li>
          <li>Nigeria	 </li>
          <li>North Korea	 </li>
          <li>North Macedonia	 </li>
          <li>Norway	 </li>
          <li>The Occupied Palestinian Territories	 </li>
          <li>Palau	 </li>
          <li>Papua New Guinea	 </li>
          <li>Poland	 </li>
          <li>Portugal (including the Azores) </br><span class="govuk-body-s">	Madeira is on the green watchlist.</span>
          </li>
          <li>Réunion	 </li>
          <li>Romania	 </li>
          <li>Russia	 </li>
          <li>Samoa	 </li>
          <li>San Marino	 </li>
          <li>Sao Tome and Principe	 </li>
          <li>Saudi Arabia	 </li>
          <li>Senegal	 </li>
          <li>Serbia	 </li>
          <li>Sierra Leone	 </li>
          <li>Slovakia	 </li>
          <li>Slovenia	 </li>
          <li>Solomon Islands	 </li>
          <li>South Korea	 </li>
          <li>South Sudan	 </li>
          <li>Spain (including the Canary Islands) </br> <span class="govuk-body-s">The Balearic islands are on the green watchlist.</span></li>
          <li>St Kitts and Nevis	 </li>
          <li>St Lucia	 </li>
          <li>St Maarten	 </li>
          <li>St Martin and St Barthélemy	 </li>
          <li>St Pierre and Miquelon	 </li>
          <li>St Vincent and the Grenadines	 </li>
          <li>Sweden	 </li>
          <li>Switzerland	 </li>
          <li>Syria	 </li>
          <li>Taiwan	 </li>
          <li>Tajikistan	 </li>
          <li>Thailand	 </li>
          <li>Timor-Leste	 </li>
          <li>Togo	 </li>
          <li>Tonga	 </li>
          <li>Turkmenistan	 </li>
          <li>Tuvalu	 </li>
          <li>Ukraine	 </li>
          <li>United States (USA)	 </li>
          <li>Uzbekistan	 </li>
          <li>Vanuatu	 </li>
          <li>Vietnam	 </li>
          <li>Wallis and Futuna	 </li>
          <li>Western Sahara	 </li>
          <li>Yemen
          </ul>

          </div>



          <h1 class="govuk-heading-l" id="greenlist">Green</a></h1>
          <div class="green-category">
            <p class="govuk-body-m"><a href="#"> View guidance for green countries</a></p>

          <ul class="govuk-body-m country-list">

            <li>Anguilla	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Antarctica/British Antarctic Territory	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Antigua and Barbuda	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Australia	 </li>
            <li>Balearic islands (Formentera, Ibiza, Mallorca, Menorca) </br>	<span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</br></li>
            <li>Barbados	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Bermuda	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>British Indian Ocean Territory	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>British Virgin Islands </br><span class="govuk-body-s">	Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Brunei	 </li>
            <li>Cayman Islands	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Dominica </br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Falkland Islands	 </li>
            <li>Faroe Islands	 </li>
            <li>Gibraltar	 </li>
            <li>Grenada	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Iceland	 </li>
            <li>Israel and Jerusalem	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Madeira	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Malta	 </li>
            <li>Montserrat	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>New Zealand	 </li>
            <li>Pitcairn, Henderson, Ducie and Oeno Islands </br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
            <li>Singapore	 </li>
            <li>South Georgia and South Sandwich Islands	 </li>
            <li>St Helena, Ascension and Tristan da Cunha	 </li>
            <li>Turks and Caicos Islands	</br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
          </ul>

        </div>

        </div>

    </main>
  </div>


    </div>
  </div>

<script>
document.getElementById('country-input').addEventListener('input', filterLocations)
document.getElementById('rag-red').addEventListener('change', filterLocations)
document.getElementById('rag-amber').addEventListener('change', filterLocations)
document.getElementById('rag-green').addEventListener('change', filterLocations)

function filterLocations() {
  var showingAny = false
  var filter = document.getElementById('country-input').value.trim()
  var showingRed = document.getElementById('rag-red').checked
  var showingAmber = document.getElementById('rag-amber').checked
  var showingGreen = document.getElementById('rag-green').checked

  document.querySelectorAll('.country-container .country-list').forEach(function (countryList) {
    var showingLetter = false

    // loop through all of the items in the list, each should represent a country
    countryList.querySelectorAll('li').forEach(function (countryListItem) {
      var show = true

      // don't show the country if they don't match the selected rag status
      if (
        (countryListItem.querySelector('.red-list') && !showingRed) ||
        (countryListItem.querySelector('.amber-list') && !showingAmber) ||
        (countryListItem.querySelector('.green-list') && !showingGreen)
      ) {
        show = false
      }

      // if a filter is set check whether it matches a particular country's name
      if (filter !== '') {
        var currentName = countryListItem.querySelector('a').textContent
        var normalisedName = currentName.normalize('NFD').replace(/\p{Diacritic}/gu, '').toLowerCase()
        console.log(normalisedName)

        if (!currentName.includes(filter) && !normalisedName.includes(filter.toLowerCase())) {
          show = false
        }
      }

      // if we're showing one country in a group then we want to show the whole letter section
      if (show) {
        showingLetter = true
        countryListItem.style.display = ''
      } else {
        countryListItem.style.display = 'none'
      }
    })

    if (showingLetter) {
      showingAny = true
      countryList.parentNode.style.display = ''
    } else {
      countryList.parentNode.style.display = 'none'
    }
  })

  // show a no results message if we've found nothing.
  document.querySelector(".no-country-results").style.display = showingAny ? 'none' : ''
}

</script>
{% endblock %}
