
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Red, amber and green list rules for entering England
        </h1>



        <p class="govuk-body-m">
          Countries and territories are listed as either red, amber or green. The rules for testing and quarantine when you return to England are different for each list.
          </p><p class="govuk-body-m">Find out which list a country is on and the rules you must follow to enter England.</p>

<!-- Checkboxes to filter the list

<div class="filter-countries">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="fitering-hint">
      <h3 class="govuk-heading-m">
        Country status:
      </h3>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-red" name="waste" type="checkbox" value="red">
        <label class="govuk-label govuk-checkboxes__label" for="rag-red">
          Red countries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-amber" name="waste" type="checkbox" value="amber">
        <label class="govuk-label govuk-checkboxes__label" for="rag-amber">
          Amber countries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input checked class="govuk-checkboxes__input" id="rag-green" name="waste" type="checkbox" value="green">
        <label class="govuk-label govuk-checkboxes__label" for="rag-green">
          Green countries
        </label>
      </div>
    </div>

  </fieldset>
</div>
</div>
 -->


<div class="contents">
<p class="govuk-body-s">Contents</p>
 <ul class="govuk-list govuk-body-s">
   <li>&mdash; <a href="#redlist" class="colour-anchor">Red list</a></li>
   <li>&mdash; <a href="#amberlist" class="colour-anchor">Amber list</a></li>
   <li>&mdash; <a href="#greenlist" class="colour-anchor">Green list</a></li>
   </ul>
   </div>


<!-- Search input that filters the country list -->

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="country-input">
              Enter a country name
            </label>
          </h1>
          <input class="govuk-input" id="country-input" name="event-name" type="text">
        </div>

        </div>

        <div class="govuk-width-container">
          <main class="govuk-main-wrapper">

      <!-- List of countries -->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full country-container">

          <div class="country-list-2">

          <div id="redlist">
            <h1 class="govuk-heading-l">Red</a></h1>

            <div class="rag-category red-category">
              <p class="govuk-body-m"><a href="#">View guidance for red countries</a></p>
              <ul class="govuk-body-m country-list">
                <li><span class="country">Afghanistan</span> </br><span class="govuk-body-s">Moved to the red list 4am Wednesday 30 June. If you arrived in England before then, you need to follow the amber list rules.</span>
                </li>
                <li><span class="country">Angola</span></li>
                <li><span class="country">Argentina</span></li>
                <li><span class="country">Bahrain</span></li>
                <li><span class="country">Bangladesh</span></li>
                <li><span class="country">Bolivia</span></li>
                <li><span class="country">Botswana</span></li>
                <li><span class="country">Brazil</span></li>
                <li><span class="country">Burundi</span></li>
                <li><span class="country">Cape Verde</span></li>
                <li><span class="country">Chile</span></li>
                <li><span class="country">Colombia</span></li>
                <li><span class="country">Congo (Democratic Republic)</span></li>
                <li><span class="country">Costa Rica</span></li>
                <li><span class="country">Dominican Republic</span></li>
                <li><span class="country">Ecuador</span></li>
                <li><span class="country">Egypt</span></li>
                <li><span class="country">Eritrea</span></li>
                <li><span class="country">Eswatini</span></li>
                <li><span class="country">Ethiopia</span></li>
                <li><span class="country">French Guiana</span></li>
                <li><span class="country">Guyana</span></li>
                <li><span class="country">Haiti</span></li>
                <li><span class="country">India</span></li>
                <li><span class="country">Kenya</span></li>
                <li><span class="country">Lesotho</span></li>
                <li><span class="country">Malawi</span></li>
                <li><span class="country">Maldives</span></li>
                <li><span class="country">Mongolia</span></li>
                <li><span class="country">Mozambique</span></li>
                <li><span class="country">Namibia</span></li>
                <li><span class="country">Nepal</span></li>
                <li><span class="country">Oman</span></li>
                <li><span class="country">Pakistan</span></li>
                <li><span class="country">Panama</span></li>
                <li><span class="country">Paraguay</span></li>
                <li><span class="country">Peru</span></li>
                <li><span class="country">Philippines</span></li>
                <li><span class="country">Qatar</span></li>
                <li><span class="country">Rwanda</span></li>
                <li><span class="country">Seychelles</span></li>
                <li><span class="country">Somalia</span></li>
                <li><span class="country">South Africa</span></li>
                <li><span class="country">Sri Lanka</span></li>
                <li><span class="country">Sudan</span></li>
                <li><span class="country">Suriname</span></li>
                <li><span class="country">Tanzania</span></li>
                <li><span class="country">Trinidad and Tobago</span></li>
                <li><span class="country">Tunisia</span></li>
                <li><span class="country">Turkey</span></li>
                <li><span class="country">Uganda</span></li>
                <li><span class="country">United Arab Emirates (UAE)</span></li>
                <li><span class="country">Uruguay</span></li>
                <li><span class="country">Venezuela</span></li>
                <li><span class="country">Zambia</span></li>
                <li><span class="country">Zimbabwe</span></li>
              </ul>
            </div>
          </div>

          <div id="amberlist">
            <h1 class="govuk-heading-l">Amber</a></h1>

            <div class="rag-category amber-category">
              <p class="govuk-body-m"><a href="amber">View guidance for amber countries</a></p>


              <ul class="govuk-body-m country-list">
                <li><span class="country">Akrotiri and Dhekelia</span></li>
                <li><span class="country">Albania</span></li>
                <li><span class="country">Algeria</span></li>
                <li><span class="country">Andorra</span></li>
                <li><span class="country">Armenia</span></li>
                <li><span class="country">Aruba</span></li>
                <li><span class="country">Austria</span></li>
                <li><span class="country">Azerbaijan</span></li>
                <li><span class="country">The Bahamas</span></li>
                <li><span class="country">Belarus</span></li>
                <li><span class="country">Belgium</span></li>
                <li><span class="country">Belize</span></li>
                <li><span class="country">Benin</span></li>
                <li><span class="country">Bhutan</span></li>
                <li><span class="country">Bonaire, Sint Eustatius and Saba</span></li>
                <li><span class="country">Bosnia and Herzegovina</span></li>
                <li><span class="country">Bulgaria</span></li>
                <li><span class="country">Burkina Faso</span></li>
                <li><span class="country">Cambodia</span></li>
                <li><span class="country">Cameroon</span></li>
                <li><span class="country">Canada</span></li>
                <li><span class="country">Central African Republic</span></li>
                <li><span class="country">Chad</span></li>
                <li><span class="country">China</span></li>
                <li><span class="country">Comoros</span></li>
                <li><span class="country">Congo</span></li>
                <li><span class="country">Cook Islands, Tokelau and Niue</span></li>
                <li><span class="country">Côte d’Ivoire</span></li>
                <li><span class="country">Croatia</span></li>
                <li><span class="country">Cuba</span></li>
                <li><span class="country">Curaçao</span></li>
                <li><span class="country">Cyprus</span></li>
                <li><span class="country">Czech Republic (Czechia)</span></li>
                <li><span class="country">Denmark</span></li>
                <li><span class="country">Djibouti</span></li>
                <li><span class="country">El Salvador</span></li>
                <li><span class="country">Equatorial Guinea</span></li>
                <li><span class="country">Estonia</span></li>
                <li><span class="country">Fiji</span></li>
                <li><span class="country">Finland</span></li>
                <li><span class="country">France</span></li>
                <li><span class="country">French Polynesia</span></li>
                <li><span class="country">Gabon</span></li>
                <li><span class="country">The Gambia</span></li>
                <li><span class="country">Georgia</span></li>
                <li><span class="country">Germany</span></li>
                <li><span class="country">Ghana</span></li>
                <li><span class="country">Greece (including islands)</span></li>
                <li><span class="country">Greenland</span></li>
                <li><span class="country">Guadeloupe</span></li>
                <li><span class="country">Guatemala</span></li>
                <li><span class="country">Guinea</span></li>
                <li><span class="country">Guinea-Bissau</span></li>
                <li><span class="country">Honduras</span></li>
                <li><span class="country">Hong Kong</span></li>
                <li><span class="country">Hungary</span></li>
                <li><span class="country">Indonesia</span></li>
                <li><span class="country">Iran</span></li>
                <li><span class="country">Iraq</span></li>
                <li><span class="country">Italy</span></li>
                <li><span class="country">Jamaica</span></li>
                <li><span class="country">Japan</span></li>
                <li><span class="country">Jordan</span></li>
                <li><span class="country">Kazakhstan</span></li>
                <li><span class="country">Kiribati</span></li>
                <li><span class="country">Kosovo</span></li>
                <li><span class="country">Kuwait</span></li>
                <li><span class="country">Kyrgyzstan</span></li>
                <li><span class="country">Laos</span></li>
                <li><span class="country">Latvia</span></li>
                <li><span class="country">Lebanon</span></li>
                <li><span class="country">Liberia</span></li>
                <li><span class="country">Libya</span></li>
                <li><span class="country">Liechtenstein</span></li>
                <li><span class="country">Lithuania</span></li>
                <li><span class="country">Luxembourg</span></li>
                <li><span class="country">Macao</span></li>
                <li><span class="country">Madagascar</span></li>
                <li><span class="country">Malaysia</span></li>
                <li><span class="country">Mali</span></li>
                <li><span class="country">Marshall Islands</span></li>
                <li><span class="country">Martinique</span></li>
                <li><span class="country">Mauritania</span></li>
                <li><span class="country">Mauritius</span></li>
                <li><span class="country">Mayotte</span></li>
                <li><span class="country">Mexico</span></li>
                <li><span class="country">Micronesia</span></li>
                <li><span class="country">Moldova</span></li>
                <li><span class="country">Monaco</span></li>
                <li><span class="country">Montenegro</span></li>
                <li><span class="country">Morocco</span></li>
                <li><span class="country">Myanmar (Burma)</span></li>
                <li><span class="country">Nauru</span></li>
                <li><span class="country">Netherlands</span></li>
                <li><span class="country">New Caledonia</span></li>
                <li><span class="country">Nicaragua</span></li>
                <li><span class="country">Niger</span></li>
                <li><span class="country">Nigeria</span></li>
                <li><span class="country">North Korea</span></li>
                <li><span class="country">North Macedonia</span></li>
                <li><span class="country">Norway</span></li>
                <li><span class="country">The Occupied Palestinian Territories</span></li>
                <li><span class="country">Palau</span></li>
                <li><span class="country">Papua New Guinea</span></li>
                <li><span class="country">Poland</span></li>
                <li><span class="country">Portugal (including the Azores)</span></br><span class="govuk-body-s">Madeira is on the green watchlist.</span>
                </li>
                <li><span class="country">Réunion</span></li>
                <li><span class="country">Romania</span></li>
                <li><span class="country">Russia</span></li>
                <li><span class="country">Samoa</span></li>
                <li><span class="country">San Marino</span></li>
                <li><span class="country">Sao Tome and Principe</span></li>
                <li><span class="country">Saudi Arabia</span></li>
                <li><span class="country">Senegal</span></li>
                <li><span class="country">Serbia</span></li>
                <li><span class="country">Sierra Leone</span></li>
                <li><span class="country">Slovakia</span></li>
                <li><span class="country">Slovenia</span></li>
                <li><span class="country">Solomon Islands</span></li>
                <li><span class="country">South Korea</span></li>
                <li><span class="country">South Sudan</span></li>
                <li><span class="country">Spain (including the Canary Islands)</span></br> <span class="govuk-body-s">The Balearic islands are on the green watchlist.</span></li>
                <li><span class="country">St Kitts and Nevis</span></li>
                <li><span class="country">St Lucia</span></li>
                <li><span class="country">St Maarten</span></li>
                <li><span class="country">St Martin and St Barthélemy</span></li>
                <li><span class="country">St Pierre and Miquelon</span></li>
                <li><span class="country">St Vincent and the Grenadines</span></li>
                <li><span class="country">Sweden</span></li>
                <li><span class="country">Switzerland</span></li>
                <li><span class="country">Syria</span></li>
                <li><span class="country">Taiwan</span></li>
                <li><span class="country">Tajikistan</span></li>
                <li><span class="country">Thailand</span></li>
                <li><span class="country">Timor-Leste</span></li>
                <li><span class="country">Togo</span></li>
                <li><span class="country">Tonga</span></li>
                <li><span class="country">Turkmenistan</span></li>
                <li><span class="country">Tuvalu</span></li>
                <li><span class="country">Ukraine</span></li>
                <li><span class="country">United States (USA)</span></li>
                <li><span class="country">Uzbekistan</span></li>
                <li><span class="country">Vanuatu</span></li>
                <li><span class="country">Vietnam</span></li>
                <li><span class="country">Wallis and Futuna</span></li>
                <li><span class="country">Western Sahara</span></li>
                <li><span class="country">Yemen</span></li>
              </ul>
            </div>
          </div>

          <div id="greenlist">
            <h1 class="govuk-heading-l">Green</a></h1>
            <div class="rag-category green-category">
              <p class="govuk-body-m"><a href="#"> View guidance for green countries</a></p>

              <ul class="govuk-body-m country-list">
                <li><span class="country">Anguilla</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Antarctica/British Antarctic Territory</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Antigua and Barbuda</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Australia</span></li>
                <li><span class="country">Balearic islands (Formentera, Ibiza, Mallorca, Menorca) </br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</br></li>
                <li><span class="country">Barbados</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Bermuda</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">British Indian Ocean Territory</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">British Virgin Islands</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Brunei</span></li>
                <li><span class="country">Cayman Islands</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Dominica</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Falkland Islands</span></li>
                <li><span class="country">Faroe Islands</span></li>
                <li><span class="country">Gibraltar</span></li>
                <li><span class="country">Grenada</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Iceland</li>
                <li><span class="country">Israel and Jerusalem</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Madeira</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Malta</span></li>
                <li><span class="country">Montserrat</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">New Zealand</span></li>
                <li><span class="country">Pitcairn, Henderson, Ducie and Oeno Islands</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
                <li><span class="country">Singapore</span></li>
                <li><span class="country">South Georgia and South Sandwich Islands</span></li>
                <li><span class="country">St Helena, Ascension and Tristan da Cunha</span></li>
                <li><span class="country">Turks and Caicos Islands</span></br><span class="govuk-body-s">Green watchlist – at risk of moving from green to amber.</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="no-country-results" style="display: none">
          <p class="govuk-body">No world locations match that filter.</p>
        </div>
    </main>
  </div>


    </div>
  </div>

<script>
var countryInput = document.getElementById('country-input')
countryInput.addEventListener('input', filterLocations)
document.querySelectorAll('.colour-anchor').forEach(function (element) {
  element.addEventListener('click', function (e) {
    countryInput.value = ''
    filterLocations()
  })
})

function filterLocations() {
  var showingAny = false
  var filter = countryInput.value.trim()

  document.querySelectorAll('.rag-category').forEach(function (ragList) {
    var showingColour = false

    ragList.querySelectorAll('li').forEach(function (ragListItem) {
      var show = true

      // if a filter is set check whether it matches a particular country's name
      if (filter !== '') {
        var currentName = ragListItem.querySelector('.country').textContent
        var normalisedName = currentName.normalize('NFD').replace(/\p{Diacritic}/gu, '').toLowerCase()

        if (!currentName.includes(filter) && !normalisedName.includes(filter.toLowerCase())) {
          show = false
        }
      }

      // if we're showing one country in a group then we want to show the whole colour
      if (show) {
        showingColour = true
        ragListItem.style.display = ''
      } else {
        ragListItem.style.display = 'none'
      }
    })

    if (showingColour) {
      showingAny = true
      ragList.parentNode.style.display = ''
    } else {
      ragList.parentNode.style.display = 'none'
    }
  })

  // show a no results message if we've found nothing.
  document.querySelector(".no-country-results").style.display = showingAny ? 'none' : ''
}


</script>
{% endblock %}
